ChickenShooter/bin/Debug/ChickenShooter.pdb
ChickenShooter/bin/Debug/ChickenShooter.exe
ChickenShooter/obj/Debug/ChickenShooter.csproj.FileListAbsolute.txt
ChickenShooter/obj/Debug/ChickenShooter.csproj.GenerateResource.Cache
ChickenShooter/obj/Debug/ChickenShooter.exe
ChickenShooter/obj/Debug/ChickenShooter.pdb